* {
    margin: 0;
    padding: 0;
}

/* font style */
.noto-serif-primary {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-primary {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
body {
    background-color: #f5f8ff;
}

.orange-clr {
    color: #E95A08;
}

.black-clr {
    color: black;
}

header {
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;

}

.des-clr {
    color: rgba(0, 0, 0, 0.5);
}

/*  nav style */
.navbar {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.nav-special {
    display: flex;
}

.nav ul {
    display: flex;
}

.nav li {
    list-style: none;
}

.nav a {
    text-decoration: none;
    margin-left: 48px;
}

.home {
    color: #252432;
    font-weight: 600;
}

.shop {
    color: #8987A1;
    font-weight: 200;
}

/* banner style */
.banner {
    margin-top: 228px;
    display: flex;
}

.banner-des {
    font-size: 1.375rem;
}



.banner-head {
    font-size: 4rem;
    font-weight: 800;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* plants section style */
.plants-des {
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 50px;
}

.plants-head {
    font-size: 3.125rem;
    font-weight: 800;
    margin-bottom: 16px;
    text-align: center;
    margin-top: 120px;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.flower-name {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.price {
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
}

.card-btn {
    background-color: #E95A08;
    height: 50px;
    width: 270px;
    color: white;
    font-size: 1.1rem;
    border-style: none;
}

/*  plants lover */
.plant-lover-img {
    margin-right: 65px;
}

.plant-lover {
    display: flex;
    margin-top: 211px;
}

.plant-lover-head {
    font-size: 3.1rem;
    font-weight: 800;
    margin-bottom: 22px;
}

.plant-lover-para {
    font-size: 1.2rem;
    margin-bottom: 22px;
}

.plant-lover-des ul {
    margin-left: 45px;
}

.trusted-badge {
    position: absolute;
    margin-top: -122px;
    margin-left: -240px;
}

/*  Latest-Deals-style */
.Latest-Deals-head {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-top: 134px;
    margin-bottom: 18px;
}

.Latest-Deals-des {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 120px;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
    margin-bottom: 120px;
}


.zabo {
    grid-row: span 2;
}

.zabo-bright {
    filter: brightness(60%);
    border-radius: 15px;

}

.ana {
    filter: brightness(50%);
    border-radius: 15px;

}

.bloom {
    filter: brightness(60%);
    border-radius: 15px;


}

.dis-60 {
    position: absolute;
    margin-left: 71px;
    color: white;
    font-weight: 600;
    margin-top: -118px;
    font-size: 1.25rem;
}

.dis-60-btn {
    position: absolute;
    color: white;
    margin-left: 120px;
    margin-top: -97px;
    text-decoration: underline;
    font-weight: 600;
}

.dis-25 {
    color: white;
    font-size: 2.6rem;
    position: absolute;
    margin-left: 197px;
    margin-top: -253px;
    font-weight: 800;
}

.dis-25-btn {
    color: white;
    font-size: 1.8rem;
    position: absolute;
    margin-left: 311px;
    text-decoration: underline;
    margin-top: -198px;
}

.dis-30 {
    position: absolute;
    margin-left: 71px;
    color: white;
    font-weight: 600;
    margin-top: -118px;
    font-size: 1.25rem;
}

.dis-30-btn {
    position: absolute;
    color: white;
    margin-left: 120px;
    margin-top: -97px;
    text-decoration: underline;
    font-weight: 600;
}

.Join-Bunch {
    background-image: url(assets/news-letter-bg.png);
    height: 533px;
    width: 1440px;
    margin: 0 auto;
}

.Join-Bunch-head {
    font-size: 3.1rem;
    font-weight: 800;
    color: white;
    text-align: center;
    padding-top: 200px;
}

form {

    text-align: center;
}

.email {
    height: 50px;
    width: 644px;
    padding-left: 20px;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
}

.btn {
    height: 50px;
    width: 186px;
    background-color: #E95A08;
    color: white;
    border-style: none;
}

.main-footer-sec {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

.main-footer h6 {
    font-size: 1.25rem;
    font-weight: 300;
}

.main-footer li {
    margin-bottom: 20px;
    list-style: none;
}

.icon {
    margin-right: 24px;
}

/* mobile responsive */
@media screen and (max-width:576px) {
    .nav-special {
        display: none;
    }

    .navbar {
        margin: 16px;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 10px;
    }

    .banner-img {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .banner-img img {
        height: auto;
        width: 100%;
    }

    .plant-cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
    }

    .plant-lover {
        flex-direction: column;

    }

    .trusted-badge {
        display: none;
    }

    .card {
        grid-template-columns: 1fr;
    }

    .main-footer {
        flex-direction: column;
        margin-left: 10px;
    }
}